section{
    max-width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    &.product-category{
        padding: 0 0 30px 0;
    }
    .btn-bk{
        background: #000;
        color: #fff;
        font-weight: 200;
        width: 90%;
        border-radius: 33.333rem;
        padding: 10px;
        box-sizing: border-box;
        text-transform: uppercase;
        transition: .3s ease all;
        text-decoration: none;
        &:hover{
            background: rgb(227, 227, 227);
            color: #000;
            font-weight: bold;
        }
    }
    .btn-ver-todo{
        margin: 30px auto 0px;
        width: 50%;
        max-width: 300px;
        text-align: center;
        font-weight: 500;
    }
    @include MQ(L){
        max-width: 1400px;
        margin: auto;
    }
}

.titulo-seccion{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 35px;
    @include MQ(L){
        font-size: 32px;
    }
}

#principal{
    img{
        width: 100%;
    }
}

.products{
    padding: 0 0 30px 0;
    &-grill{
        .producto{
            color: #000;
            text-align: center;
            font-size: 12px;
            line-height: 24px;
            width: 50%;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            justify-content: center;
            &-imagen{
                margin: 40px auto;
                width: 100%;
            }
            &-nombre{
                text-transform: uppercase;
                font-weight: 600;
            }
            &-boton{
                background: #000;
                color: #fff;
                font-weight: 200;
                width: 90%;
                margin: auto auto 0 auto;
                border-radius: 33.333rem;
                padding: 20px;
                box-sizing: border-box;
                text-transform: uppercase;
            }
        }
    }
    @include MQ(L){
        .producto{
            font-size: 24px;
            width: 25%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 10px;
            box-sizing: border-box;
            &-imagen{
                width: 100%;
            }
            &-boton{
                width: 90%;
                margin: auto auto 0 auto;
            }
        }
    }
}

// PÁGINA EXPERTISE

&.expertise{
    padding: 0 0 20px 0;
}

&.expertise,
&.product-grill,
&.main-cat{
    .owl-productos{
        max-width: inherit;
    }
    font-size: 20px;
    .breadcrumbs{
        font-weight: 400;
        text-transform: uppercase;
        text-align: inherit;
        flex-flow: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        span{
            margin: 0 10px;
            font-weight: 600;
        }
        a{
            margin: 0 10px;
            color: #000;
        }
    }
    section{
        text-align: center;
    }
    .entrada{
        padding: 20px 0;
        &-banner{
            width: 100%;
            height: 600px;
            object-fit: cover;
            z-index: -2;
            position: relative;
        }
        &-contenido{
            background: #fff;
            width: 90%;
            margin: -100px auto auto;
            z-index: 2;
            
        }
        .textos{
            padding: 20px 40px;
            box-sizing: border-box;
            .titulo{
                font-weight: 500;
                text-transform: uppercase;
                font-size: 60px;
            }
            .bajada{
                font-weight: 500;
                font-size: 50px;
                text-transform: uppercase;
            }
            span{
                font-weight: 500;
                font-size: 40px;
            }
            .texto{
                font-size: 40px;
            }
        }
        .imagenes{
            width: 100%;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            gap: 10px;
            overflow: hidden;
            img{
                object-fit: cover;
                flex: 1 2 30%;
            }
        }
        .imagen-w100{
            img{
                width: 100%;
            }
        }
    }
    @include MQ(L){
        font-size: 20px;
        .entrada{
            .textos{
                padding: 20px 40px;
                .titulo{
                    font-size: 30px;
                    margin: 30px auto auto;
                }
                .bajada{
                    font-size: 24px;
                }
                span,
                .texto{
                    font-size: 20px;
                }
            }
        }
    }
}