.navbar{
    text-transform: uppercase;
    padding: 20px 0;
    .navbar-toggler{
        outline: none;
        &-icon{
            // width: 15px;
            // height: 15px;
            transition: .3s ease all;
            background: url('/img/bars.svg') center center/cover no-repeat;
        }
        .open{
            // width: 15px;
            // height: 15px;
            transform: rotate(90deg);
            background: url('/img/times.svg') center center/cover no-repeat;
        }
    }
    .home{
        background: url('/img/home.svg') center center/cover no-repeat;
        height: 40px;
        width: 40px;
        transition: .3s ease all;
        &:hover{
            transform: scale(1.1);
        }
    }
    &-collapse{
        border-top: 1px solid #fff;
        margin: 20px 0;
        .navbar-nav{
            .dropdown{
                border-bottom: 1px solid #fff;
                padding: 20px 0;
                &-menu{
                    background: #000;
                }
                &-item{
                    &:focus,
                    &:hover{
                        background: #000;
                    }
                }
                &-toggle{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:after{
                        content: '+';
                        border: none;
                        transition: .3s ease all;
                        transform-origin: 50%;
                        font-size: 1rem;
                    }
                }
                &.show{
                    .dropdown-toggle{
                        text-decoration: underline;
                        &:after{
                            content: '-';
                            text-decoration: inherit;
                        }
                    }
                }
            }
        }
    }
    @include MQ(L){
        &-collapse{
            width: 100%;
            background: #fff;
            a,
            i,
            span{
                color: #000;
            }
            .navbar-nav{
                max-width: 1200px;
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-around;
                .dropdown{
                    &-menu{
                        background: #fff;
                    }
                    &-item{
                        transition: .3s ease all;
                        &:focus,
                        &:hover{
                            background: rgb(246, 246, 246);
                        }
                    }
                    &-toggle{
                        &:after{
                            content: '';
                        }
                    }
                }
            }
        }
    }
}
